body {
  background: #444;
}
div {
  box-sizing: border-box;
}
.App {
  position: relative;
  max-width: 500px;
  width: 100%;
  max-height: 700px;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  overflow: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black-nav {
  display: flex;
  background: #222;
  width: 100%;
  color: #fff;
  padding: 0 30px;
  font-size: 20px;
  margin-bottom: 40px;
}

.list {
  padding: 5px 30px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.list h4 {
  font-size: 20px;
}
.list p {
  
}
.bong {
  display: inline-block;
  padding: 4px;
  margin: 0 10px 0 30px;
  cursor: pointer;
  background: #333;
  border-radius: 6px;
}
button {
  background: #555;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
input {
  margin: 10px 0;
  background: #ddd;
  border: 0;
  height: 40px;
  border-radius: 6px;
}
.modal {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50px;
  right: 50px;
  padding: 40px;
  /* background: #444; */
  background-color:rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  text-align: left;
}